* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

    
body {
        margin: 0;
        padding: 0;
        font-family: 'Scheherazade New', serif;
        color:white;
        background: #5c5a5a; 
        font-size: 1em;
        line-height: 1.5em;

        
    }


.contenedor { 

    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap:20px;
    }
   
#p_header {
float: left;
padding: 15px 0 0 20px;
text-decoration: none;
color: white;
}
#p_header:hover {
    color: rgb(147, 72, 245);
    transition: 400ms ease-in-out;
}

#p_header .p_nombre {
    display: block;
    font-weight: 700;
    font-size: 1.2em;
}

#p_header .p_descrip {
    display: block;
    font-weight: 300;
    font-size: 0.8em;
    color: #999;
    
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}
     
        /* p {
            margin: 0 0 1.5em 0;
        } */
        

nav{
    float:right;
}

.nav__responsive-ul{
    display: none;
        
    }

.nav__ul{
    background-color:#000;
    margin: 0;
    padding: 0;
    list-style: none;

    color: white;
    }
.nav__li{
display: inline-block; 
padding: 20px;          
color:#fff;
}
    
.nav__li:hover > a{

color:rgb(147, 72, 245);
transition: 400ms ease-in-out;
    }

.nav__li a {
    
        color: #fff;
    text-decoration: none;
    }
.nav__li i{
    width: 30px;
    box-sizing: border-box;
    text-align:left;
    margin-right: 7px;
    }

.nav__responsive-button-conteiner{
    position: absolute;
    width: 100%;
    font-size: 25px;
    background-color: #000;
    margin-top:-37px;
    }

.nav__responsive-button{
        padding:6px 20px;
        text-align: right;
        width:100%;
    }
p {
    margin-left:10px;
}  
h3{
    position: relative;
    text-align:center;

}

.box { 
         width: 95%;
         max-width: auto;
         margin: 20px auto;
         display: grid;
         grid-gap:20px;
         grid-template-columns: repeat(3 ,1fr);
         grid-template-rows: repeat(2 ,1fr);
         text-align: center;
        }
.box img{
        width: 1fr;
        height: 100%;
        margin:auto;
        display: block;
        border-radius: 60px;
        
    }
    h1 {
        box-sizing: 50px;
        font-size: 2.3em;
        line-height: 1.3em;
        margin: 60px auto;
        text-align: center;
        font-weight: 300;
        z-index: -1;
    
    }
    .header{
        background-color: #5c5a5c;
        color:white;

    }

.header a { 
        color:white;
        text-decoration: none;
}
.p_box{
        display:flex;
        justify-content:space-between;
    }
.tipos  {
        flex-direction: column;justify-content: space-between;
}
.tipos img{
    
        width: 100%;
        object-fit: cover;
}
.tipos img:hover{
    border-radius: 0%;
    transition: .5s;

}

.clases h3{
    padding-top: 75px;
}


#container_h {
    background: rgb(17, 17, 17);
	height: 80px;	
	width: 100%; 
	left: 0; 
	top: 0; 
	position: fixed; /* posición fija */
    z-index: 2 ;

}


.conteinerp{

    background: linear-gradient(90deg, #5c5a5c 0%,rgb(84, 19, 100)50%, #5c5a5c 100%);
    
    display: flex;
}
 .tipos:hover {
    background: #48465d;
     color: aquamarine;
     cursor: pointer;
}


h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;

}

@media only screen and (max-width:767px) {
    .nav__ul{
        display: none;
        }
        .nav{
            height:37px;
            width:100%;
            background-color: #69c;
            
        }
        .nav__responsive-ul{
            display:block;
            position: abusolute;
            width: 100%;    
            background-color:#000;
            height: 100%;
            z-index: 1;
           
            }
        
        
        
        .nav__responsive-li  {
            width:100%;
            padding:9px;
        }
        .nav__responsive-li i {
            box-sizing: border-box;
            text-align:right;
            margin-right: 5px;
            width: 30px;
            color:#0185;
        }
        .nav_responsive-li a {
        color:#0185;
        text-decoration: none;
        }
        }


/* probando footer  no me qedan bien los iconos de las redes sociales */

/* footer{
background-color: #6a5f94;
margin-right: 15px;
background: linear-gradient(90deg, #5c5a5c 0%,rgb(84, 19, 100)50%, #5c5a5c 100%);
    

}


.colum2{
  display: flex;
  
}

.colum2 #redes{

  padding-left: 15px;
  margin-left: 15px;
}
button{
    width:1fr;
    height:1fr;
    background-color: rgba(82, 19, 184, 0.678);
    border-radius: 15px;
    border:none;
    cursor: pointer;
    padding: 10px;
    font-size:30px;
    

} */
/* probando footer  no me qedan bien los iconos de las redes sociales */

footer{
  
    width: 95%;
    background:linear-gradient(90deg, #5c5a5c 0%,rgb(84, 19, 100)50%, #5c5a5c 100%);
    color: white;
      
  
  }
  .container-footer-all .container-colum{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 10px;
    
  }
  
  .container-footer-all .container-colum .redes i:hover{
  
    color:rgb(17, 17, 17);
    background-color:white;
    align-items: center;
  }
  
  button{
      width:1fr;
      height:1fr;
      background-color: #5c5a5c;
      box-sizing: 25px;
      border:none;
      cursor: pointer;     
      color: #eaf1f1;
      font-size:30px;
      
      
  }
/* animacion  se me corta la cabeza!! */

aside #animacion {
    overflow: hidden;
    
  }
  
  #patin {
    margin-top: 30px;
    background-image: url(img/23.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 500px;
  }
  #animacion:hover #patin {
    margin-left: 100%;
    transition: all 2.6s;
    transition-timing-function:cubic-bezier(1, 0.5, 0.22, 1)
  }
  

    /* efecto del H1 */ 
.efecto_h1{
    margin: left;
  
  }
  h1{
    float:center;
    color: white;
    position: relative;    
    text-transform: uppercase;
  
  }
  
  h1 span {
  position:absolute;
  right:0;
  width:0;
  background:#5c5a5c;
  border-left: 1px solid #5c5a5c;
  animation: maquina 7s infinite alternate steps(44);
  
  }
  @keyframes maquina{
    from{
      width: 100%;
    }
    to{
      width: 0%;
  
    }
  }
/* 

@media screen and (min-width: 1024px) {
    footer {     margin-bottom: 0;   }
  
    .header {
      position: sticky;
      top: 0;
      padding: 0rem 0.5rem;
      height: var(--altura-header);
    }
  
    section {
      max-width: var(--ancho-max);
      margin: 0 auto;
    }
}