

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}



    
body {
    margin: 0;
    padding: 0;
    font-family: 'Scheherazade New', serif;
    color:white;
    background: #5c5a5a; 
    font-size: 1em;
    line-height: 1.5em;
  
}
.container{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: flex;
    grid-gap:20px;
}
.contendor_tutorial{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
aside h3  {

  padding-top:85px;
}

@media only screen and (max-width:767px) {
.contenedor_tutorial{
  flex-direction: column;
}

}
h1{
    padding-top:75px;
    text-align: center; 
    float:center;
    color: white;
    position: relative;    
    text-transform: uppercase;
   }
   
   h2 {
     color:White;
    
     text-align: center;
   }
   
   /*  Menu   (no lo puedo hacer responsive)  */ 
   #p_header {
     float: left;
     padding: 15px 0 0 20px;
     text-decoration: none;
     color: white;
   }
#p_header:hover {
    color:rgb(147, 72, 245);
    transition: 400ms ease-in-out;
     }
     
#p_header .p_nombre {
    display: block;
    font-weight: 700;
    font-size: 1.2em;
     }
     
#p_header .p_descrip {
    display: block;
    font-weight: 300;
    font-size: 0.8em;
    color: #999;
         
     }
     


.img-box img:hover {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    box-shadow: 10px 20px 40px white;
    z-index:2;
        }
   
   
      /* menu*/


nav {
    float: right;
    color:white; 
  }
  .nav__responsive-ul{
      display: none;
      
  }
  .nav__ul{
  background-color:#000;
  margin: 0;
  padding: 0;
  list-style: none;
  
  color: white;
  }
  .nav__li{
  display: inline-block; 
  padding: 20px;          
  
  color:#fff;
  }
  
  .nav__li:hover > a{
        color:rgb(147, 72, 245);
        transition: 400ms ease-in-out;
  }
  .nav__li a {
  
    color: #fff;
    text-decoration: none;
  }
  .nav__li i{
  width: 30px;
  box-sizing: border-box;
  text-align:left;
  margin-right: 7px;
  }
  .nav__responsive-button-conteiner{
      position: absolute;
      width: 100%;
      font-size: 25px;
      background-color: #000;
      margin-top:-37px;
  }
  .nav__responsive-button{
   padding:6px 20px;
   text-align: right;
   width:100%;
  }
  p {
    margin-left:10px;
}  
h3{
   position: relative;
   text-align:center;

}


 @media only screen and (max-width:767px) {
.nav__ul{
display: none;
}
.nav{
    height:37px;
    width:100%;
    /* background-color: #69c; */
    
}
.nav__responsive-ul{
    display:block;
    position: abusolute;
    width: 100%;    
    background-color:#000;
    height: 100%;
    
    }



.nav__responsive-li  {
    width:100%;
    padding:9px;
}
.nav__responsive-li i {
    box-sizing: border-box;
    text-align:right;
    margin-right: 5px;
    width: 30px;
    color:#0185;
}
.nav_responsive-li a {
color:#0185;
text-decoration: none;
}
}
    p {
        margin-left:10px;
    }
    #conteinerh{
        background: rgb(17, 17, 17);
        height: 80px;	
        width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
        left: 0; /* Posicionamos la cabecera al lado izquierdo */
        top: 0; /* Posicionamos la cabecera pegada arriba */
        position: fixed; /* Hacemos que la cabecera tenga una posición fija */
    
    }
.conteiner_tutorial{
    width: 100%;
    height: 100vh;
    position: absolute;
    display: grid;
    grid-area:row;

    
    padding: 20px;
}
.parrafo img{
 
    display: flex;
    font-size: 15px;
    line-height: 1.5;
    width: 350px;
    height: 350px;

}
.parrafo img{
    width: 310px;
    border-radius: 25px;
    display:inline-block;
    padding:10px;
    margin-right: 15px;
}

/* probando footer  no me qedan bien los iconos de las redes sociales */

footer{
  
    width: 95%;
    background:linear-gradient(90deg, #5c5a5c 0%,rgb(84, 19, 100)50%, #5c5a5c 100%);
    color: white;
      
  
  }
  .container-footer-all .container-colum{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 10px;
    
  }
  
  .container-footer-all .container-colum #redes i:hover{
  
    color:rgb(17, 17, 17);
    background-color:white;
    align-items: center;
  }
  
  button{
      width:1fr;
      height:1fr;
      background-color: #5c5a5c;
      box-sizing: 25px;
      border:none;
      cursor: pointer;
     
      color: #eaf1f1;
      font-size:30px;
      
      
  }

    /* efecto del H1 */ 
    .efecto_h1{
        margin: left;
      
      }
      h1{
        float:center;
        color: white;
        position: relative;    
        text-transform: uppercase;
      
      }
      
      h1 span {
      position:absolute;
      right:0;
      width:0;
      background:#5c5a5c;
      border-left: 1px solid #5c5a5c;
      animation: maquina 7s infinite alternate steps(44);
      
      }
      @keyframes maquina{
        from{
          width: 100%;
        }
        to{
          width: 0%;
      
        }
      }

 